<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>mobispec.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>register.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerwithxml</servlet-name>
        <servlet-class>xmlqueries.registerwithxml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsers</servlet-name>
        <servlet-class>xmlqueries.getUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getReviews</servlet-name>
        <servlet-class>xmlqueries.getReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Counter</servlet-name>
        <servlet-class>Visitors.Counter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerwithxml</servlet-name>
        <url-pattern>/registerwithxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsers</servlet-name>
        <url-pattern>/getUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getReviews</servlet-name>
        <url-pattern>/getReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Counter</servlet-name>
        <url-pattern>/Counter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
